{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <div class="container">
        {# TODO:
        1. Should all Social Media Accounts be just icons and short description? Or should their be a separate write up
        for the Facebook Group page?
        2. Social Media Accounts List
            - Facebook Group
            - Twitter
            - Github
        #}
        <div class="row">
            {% for title in ['Facebook', 'Twitter', 'Github'] %}
                <div class="col-xs-6 col-lg-4">
                   <img src="http://placehold.it/140x100?text=Social+Media+Account" alt="Social Media Account">
                   <h2>{{ title }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
