<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>{% block title %}Welcome{% endblock %} — Pytsada</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif %}>
            <a href="{{ '/'|url }}">Welcome</a>
        </li>
        {% for href, title in [
          ['/member', 'Members'],
          ['/contact', 'Contact']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div class="jumbotron">
        <div class="container">
           <h1>Pytsada</h1>
           <p>ITG-X focus group for Python</p>
        </div>
    </div>
  </header>
  <div class="container">
      <main>
          {% block body %}{% endblock %}
      </main>
      <footer>
          &copy; Copyright 2016 by Pytsada
      </footer>
  </div>
</body>
</html>
