{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <div class="container">
    {# TODO
    1. What is the mission? vision?
    #}
        <div class="row">
            <p class="col-xs-12 col-lg-12">
                Id admodum accommodare complectitur vel, eam rebum intellegebat ad. Ut novum sensibus vix, esse instructior nec et. Has cibo dolore partem ne, sit at placerat lucilius maiestatis. At lorem scripta vix. Has in vocent expetenda, ei illud deserunt sed. Vitae diceret ad has, ex mel albucius salutandi.
            </p>
            <p class="col-xs-12 col-lg-12">
                Pri an nihil utamur appetere, at quem sale latine qui, pri cu tollit fabulas repudiandae. Vix suscipit salutatus comprehensam te, ad ullum simul evertitur per. Et wisi etiam ius, ne nam duis facete eleifend. Putant accumsan dissentiunt ea nam. Has id dolore apeirian. In pri offendit sensibus.
            </p>
        </div>
    </div>
{% endblock %}
